.change-theme {
   display: flex;
   flex-direction: column;
   text-align: center;
   gap: 10px;
}

.change-theme p{
   padding-bottom: 15px;
   display: none;
}

.change-theme-button {
   display: flex;
   justify-content: center;
}

.change-theme-button:hover {
   border-bottom: none;
}

@media (max-width:1024px){

   .change-theme p {
      display: block;
   }

}