#mentions-legales {
   background-color: var(--color-bg-secondary);
}

#mentions-legales>div {
   margin: auto;
   padding: 150px 0px;
}

#mentions-legales>div>h1 {
   text-align: center;
   font-family: var(--font-title);
   color: var(--color-blue-primary);
   padding-bottom: 30px;
}

#mentions-legales>div>h2 {
   font-family: var(--font-title);
   color: var(--color-blue-primary);
   padding-top: 20px;
   padding-bottom: 10px;
}

#mentions-legales>div>h3 {
   font-family: var(--font-title);
   color: var(--color-blue-primary);
   padding-bottom: 10px;
   padding-top: 10px;
}

#mentions-legales > div > h2:nth-child(9) {
   padding-bottom: 0;
}

#mentions-legales > div  a {
   text-decoration: none;
   color: var(--text-on-dark-bg);
   font-family: var(--font-primary);
   font-size: var(--font-size-sm);
}

#mentions-legales > div  a:hover {
   color: var(--color-blue-primary);
}

