/* Début CSS Head_index */
#head_index {
   scroll-margin-top: 6.25rem;
   background-color: var(--color-bg-secondary);
   padding: 10rem 0 3.75rem 0;
   min-height: 31.25rem;
   display: grid;
}

#head_index>div {
   padding-top: 50px;
   margin: auto;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

#head_index > div > div:nth-child(1) {
   min-height: 12.5rem;
   display: flex;
   flex-direction: column;
}

#head_index>div>div:nth-child(2) {
   margin: auto;
   display: flex;
   justify-content: center;
   gap: 1.875rem;
}

#head_index h1 {
   color: var(--color-blue-primary);
   font-family: var(--font-title);
}

#head_index h2 {
   color: var(--color-blue-secondary);
   font-family: var(--font-title);
}

#head_index p {
   font-family: var(--font-primary);
   color: var(--color-text);
   padding-bottom: 3.125rem;
}

#head_index > div > div > a {
   min-width: 100px;
}


/* Début CSS typing-text */
.typing-text {
   display: inline-block;
   overflow: hidden; 
   white-space: nowrap;
   width: 0;
   margin: auto;
}

.typing-text.active {
   animation: typing 2.5s steps(36, end) forwards;
}

@keyframes typing {
   from { width: 0; }
   to { width: 100%; }
}

@keyframes typingReverse {
    from { width: 100%; }
    to { width: 0; }
}
/* Fin CSS typing-text */

/* Début CSS Responsive */
@media (max-width: 1024px) {

   #head_index h2 {
      font-size: var(--font-size-2xl);
   }
   
   #head_index h1 {
      font-size: var(--font-size-3xl) ;
   }

}

@media (max-width: 767px) {

   #head_index {
      min-height: 100dvh;
      padding: 0;
   }

   #head_index > div > div:nth-child(1) {
      justify-content: center;
   }
   
   .typing-text {
      margin: 5px auto;
   }
   
   #head_index h2 {
      font-size: var(--font-size-xl);
   }
   
   #head_index h1 {
      font-size: var(--font-size-2xl) ;
   }

   #head_index > div > div:nth-child(1) > p {
      padding-bottom: 0;
   }

}

@media (max-width: 490px) {

   #head_index h2 {
      font-size: var(--font-size-md);
   }

   #head_index h1 {
      font-size: var(--font-size-xl) ;
   }

   #head_index p {
      font-size: var(--font-size-xs) ;
   }

}

@media (max-width: 380px) {

   #head_index h2 {
      font-size: var(--font-size-md);
   }
   
   #head_index h1 {
      font-size: var(--font-size-lg) ;
   }
}

/* FIN CSS Head_index */
