#allprojects {
   background-color: var(--background-color-second);
   padding-top: 100px;
   min-height: 100dvh;
}

#allprojects h1 {
   font-family: var(--font-title);
   color: var(--blue-principal);
   text-align: center;
   margin: auto;
   max-width: fit-content;
   padding-top: 20px;
}

#allprojects>div {
   padding: 80px 50px 40px 50px;
   margin: auto;
}

#allprojects>div>div {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   padding: 100px 0px 100px 0px;
   gap: 50px;
}

#allprojects>article a {
   max-width: fit-content;
}