#allprojects {
   background-color: var(--color-bg-secondary);
   padding-top: 3rem;
   min-height: 100dvh;
}

#allprojects h1 {
   font-family: var(--font-title);
   color: var(--color-blue-primary);
   text-align: center;
   padding-top: 1.25rem;
}

#allprojects>div {
   padding: 5rem 3.125rem 2.5rem 3.125rem;
   margin: auto;
}

#allprojects>div>div {
   padding: 3.125rem 0 3.125rem 0;
   display: grid;
   gap: 1.875rem;
}
