#allprojects {
   background-color: var(--background-color-second);
   padding-top: 100px;
   min-height: 100dvh;
}

#allprojects h1 {
   font-family: var(--font-title);
   color: var(--blue-principal);
   text-align: left;
   padding-top: 20px;
}

#allprojects>div {
   padding: 80px 50px 40px 50px;
   margin: auto;
}

#allprojects>div>div {
   padding: 50px 0px 50px 0px;
   display: grid;
   gap: 30px;
}
