#apropos {
   background-color: var(--background-color-principal);
   scroll-margin-top: 100px; /* Permet de compenser le header en position fixed via lien ancrage*/
}

#apropos>div {
   padding: 60px 0px 60px 0px;
   margin: auto;
   max-width: 900px;
   display: grid;
   grid-template-columns: auto 1fr;
   align-items: center;
   gap: 50px;
   margin: auto;
}

#apropos img {
   max-width: 300px;
   border-radius: 100%;
}

#apropos>div>div {
   display: grid;
   gap: 30px;
}

#apropos h2 {
   font-family: var(--font-title);
   color: var(--blue-principal);
   text-align: center;
}

#apropos p {
   color: var(--color-text-principal);
}

@media (max-width: 767px) {

   #apropos>div {
      grid-template-columns: 1fr;
      
   }

   #apropos img {
      margin: auto;
      max-width: 60%;
   }

 }