#apropos {
   background-color: var(--background-color-principal);
   scroll-margin-top: 6.25rem;
}

#apropos>div {
   padding: 3.75rem 0 3.75rem 0;
   margin: auto;
   max-width: 56.25rem;
   display: grid;
   grid-template-columns: auto 1fr;
   align-items: center;
   gap: 3.125rem;
   margin: auto;
}

#apropos img {
   max-width: 18.75rem;
   border-radius: 100%;
}

#apropos>div>div {
   display: grid;
   gap: 1.875rem;
}

#apropos h2 {
   font-family: var(--font-title);
   color: var(--blue-principal);
   text-align: center;
}

#apropos p {
   color: var(--color-text-principal);
}

@media (max-width: 767px) {
   #apropos>div {
      grid-template-columns: 1fr;
   }

   #apropos img {
      margin: auto;
      max-width: 60%;
   }
}
