.carousel {
   position: relative;
}

.carousel > a.previous , .carousel > a.next {
   color: var(--blue-principal);
   position: absolute;
}

.carousel > .previous {
   top: 50px;
   right: 93%;
}

.carousel > .next {
   top: 50px;
   left: 93%;
}
