/* Début CSS Contact */
#contact {
   background-color: var(--color-bg-secondary);
   scroll-margin-top: 3.125rem;
}

#contact>div {
   display: grid;
   gap: 1.875rem;
   padding: 3.75rem 0 3.75rem 0;
   margin: auto;
}

#contact>div>h2 {
   margin: auto;
   max-width: fit-content;
}

#contact>div>div {
   display: flex;
   justify-content: center;
   gap: 3.125rem;
}

/* Début CSS contact_info */
#contact>div>div .contact_info {
   height: fit-content;
   display: flex;
   align-items: center;
}

#contact>div>div .contact_info ul {
   display: grid;
   gap: 0.625rem;
}

#contact>div>div .contact_info ul li{
   list-style: none;
   display: flex;
   gap: 0.3125rem;
   align-items: center;
   color: var(--text-on-dark-bg);
}

#contact>div>div .contact_info ul li svg {
   color: var(--color-blue-primary);
}

#contact>div>div .contact_info ul li a {
   text-decoration: none;
   color: var(--color-text-principal);
}

/* Début CSS contact form */
#contact>div>div>form {
   display: grid;
   padding: 1.875rem;
   grid-template-columns: 1fr 1fr;
   align-items: start;
   gap: 1.25rem;
}

#contact>div>div>form>div {
   display: flex;
   flex-direction: column;
   gap: 0.25rem;
}

#contact .head_form , #contact .email_form , #contact .company_form , #contact .reason_form , #contact .message_form , #contact>div>div>form input[type=submit] {
   grid-column: 1/3;
}

#contact .head_form h3 {
   color: var(--color-blue-primary);
}

#contact .head_form p , #contact .required-legend{
   font-size: var(--font-size-sm);
}

#contact>div>div>form>div>label {
   color: var(--text-on-dark-bg);
   font-family: var(--font-primary);
   font-size: var(--font-size-sm);
}

form #name , form #lastname , form #lastname , form #email , #contact #company , form #reason, form #message  {
   height: 1.875rem;
   border-radius: 0.3125rem;
   border: 0.125rem solid var(--color-blue-primary); 
   background-color: var(--color-bg-secondary);
   color: var(--text-on-dark-bg);
   font-size: var(--font-size-sm);
   font-family: var(--font-primary);
   padding: 0 0.625rem;
}

#lastname::placeholder , #name::placeholder , #email::placeholder , #reason , #message::placeholder  {
   font-size: 0.875rem;
   font-family: var(--font-primary);
}

#contact > div > div > form > div.message_form {
   min-height: 14.375rem;
}

#contact>div>div>form textarea {
   resize: none;
   min-height: 10rem;
   padding: 0.3125rem 0.625rem;
}

#contact form input[type=submit]{
   text-decoration: none;
   color: var(--text-on-dark-bg);
   font-family: var(--font-title);
   font-size: 1.125rem;
   border-radius: 0.625rem;
   background-color: var(--color-blue-primary);
   padding: 0.625rem 0.9375rem; 
   display: inline-block;
   text-align: center;
   border: none;
}

#contact .required-legend {
   text-align: right;
   grid-column: 1/3;
}

#contact .asterix {
   color: var(--color-blue-primary);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.125rem;
   font-weight: 400;
}

#contact .error {
   color: var(--color-error);
   font-family: var(--font-primary);
   font-size: var(--font-size-xxs);
}

#contact .border-red {
   border-color: var(--color-error) !important;
}

#modal-root > div > div > div.modal-head .modal-contact-title svg.success {
   color: var(--color-success);
}

#modal-root > div > div > div.modal-head .modal-contact-title svg.error {
   color: var(--color-error);
}