#experiences {
   background-color: var(--background-color-second);
   scroll-margin-top: 100px; /* Permet de compenser le header en position fixed via lien ancrage*/
}

#experiences>div {
   padding: 50px 0px 100px 0px;
   margin: auto;
}

#experiences>div>div {
   display: grid;
   gap: 50px;
}

#experiences h2 {
   font-family: var(--font-title);
   color: var(--blue-principal);
   text-align: center;
   margin: auto;
   max-width: fit-content;
   padding-top: 20px;
   padding-bottom: 40px;
}

