.experience {
   max-width: 80%;
   min-height: 41.875rem;
   margin: auto;
   max-height: fit-content;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 1.875rem;
}

.experience hr {
   border: none;
   height: 0.125rem;
   background-color: var(--background-color-third);
   border-radius: 2.0625rem;
}

.experience .head_experience .type {
   font-size: 1.125rem;
   border-radius: 1.25rem;
   background-color: var(--blue-principal);
   width: fit-content;
   padding: 0.3125rem 0.5rem;
   font-family: var(--font-title-2);   
}

.experience .head_experience h3 {
   color: var(--blue-principal);
   font-family: var(--font-title-2);
}

.experience .head_experience .description {
   padding-top: 1.25rem;
   font-family: var(--font-title-2);
   font-size: 0.875rem;
}

.experience .experience_context {
   display: grid;
   gap: 0.3125rem;
}

.experience .experience_context ul {
   display: grid;
   gap: 0.3125rem;
   list-style: none;
}

.experience .experience_context .company , .experience .experience_context .place , .experience .experience_context .date {
   display: flex;
   align-items: center;
   gap: 0.3125rem;
   font-family: var(--font-title-2);
}

.experience .experience_context .company svg , .experience .experience_context .place svg , .experience .experience_context .date svg {
   color: var(--blue-principal);
}

.experience .responsibilities {
   display: grid;
   gap: 1.25rem;
}

.experience .responsibilities h4 {
   font-family: var(--font-title-2);
   font-weight: 400;
}

.experience .responsibilities ul {
   display: grid;
   gap: 0.625rem;
}

.experience .responsibilities ul li {
   list-style: none;
   display: flex;
   gap: 0.3125rem;
   align-items: center;
   font-family: var(--font-title-2);
   font-size: 0.9375rem;
}

.experience .responsibilities ul li svg {
   color: var(--blue-principal);
}

.experience .technologies {
   display: grid;
   gap: 1.25rem;
}

.experience .technologies h4 {
   font-family: var(--font-title-2);
   font-weight: 400;
}

.experience .technologies ul {
   list-style-type: none;
   display: flex;
   gap: 0.625rem;
}

.experience .technologies ul li {
   font-size: 0.875rem;
   border-radius: 1.25rem;
   background-color: var(--blue-principal);
   width: fit-content;
   padding: 0.3125rem 0.5rem;
   font-family: var(--font-title-2);   
}
