.experience {
   max-width: 80%;
   margin: auto;
   max-height: fit-content;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.experience>div:nth-child(1) {
   display: flex;
   justify-content: space-between;
}

.experience h3 {
   font-family: var(--font-title-2);
   color: var(--blue-principal);
}

.experience .period {
   height: min-content;
   font-size: 14px;
   font-family: var(--font-classic);
   background-color: var(--blue-principal);
   border-radius: 20px;
   padding: 5px 10px;
   display: flex;
   align-items: center;
   gap: 5px;
}

.experience .company {
   font-family: var(--font-title-2);
   padding-bottom: 30px;
}


.experience .description-experience {
   font-size: 14px;
   font-family: var(--font-classic);
   color: var(--color-text-principal);
}

.experience .tasks a {
   width: fit-content;
   margin: 20px auto 20px auto;
   display: flex;
   align-items: center;
   gap: 5px;
}

.experience .tasks ul {
   display: grid;
   grid-template-columns: 1fr auto;
}

.experience .tasks ul svg {
   color: green;
   /* Couleur a changer via une variable root */
}

.experience .tasks ul li {
   display: flex;
   align-items: center;
   gap: 5px;
   list-style: none;
   font-size: 14px;
   font-family: var(--font-classic);
   color: var(--color-text-principal);
   padding-bottom: 5px;
}