#experiences {
   background-color: var(--background-color-second);
   scroll-margin-top: 3.125rem;
}

#experiences>div {
   padding: 3.125rem 0 6.25rem 0;
   margin: auto;
}

#experiences h2 {
   font-family: var(--font-title);
   color: var(--blue-principal);
   text-align: center;
   padding-top: 1.25rem;
   padding-bottom: 2.5rem;
}
