footer {
   background-color: var(--background-color-principal);
}

footer>div {
   margin: auto;
   padding: 0.625rem;
   display: grid;
   gap: 0.625rem;
}

footer>div>div {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

footer>div>div a {
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   font-family: var(--font-title);
   color: var(--color-text-principal);
}

footer>div>div a:hover {
   color: var(--blue-second);
}

footer>div>div>ul {
   display: flex;
   list-style: none;
   gap: 1.25rem;
}

footer hr {
   border: none;
   height: 0.125rem; 
   background-color: var(--background-color-third);
   border-radius: 2.0625rem;
}

footer>div>p {
   color: var(--color-white);
   font-family: var(--font-title-2);
   font-size: 0.875rem;
   text-align: center;
   padding: 1.25rem 0 3.125rem 0;
}
