footer {
   background-color: var(--color-bg-primary);
}

footer>div {
   margin: auto;
   padding: 0.625rem 0;
   display: grid;
   gap: 0.625rem;
}

footer>div>div {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

footer>div>div a {
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   font-family: var(--font-title);
   color: var(--text-on-dark-bg);
}

footer>div>div a:hover {
   color: var(--color-blue-secondary);
}

footer>div>div>ul {
   display: flex;
   list-style: none;
   gap: 1.25rem;
}

footer>div>p {
   text-align: center;
   padding: 1.25rem 0 3.125rem 0;
}
