.formation {
   max-width: 80%;
   margin: auto;
   display: grid;
   gap: 2.5rem;
}

.formation .head_formation {
   display: flex;
   justify-content: space-between;  
   gap: 0.3125rem;
}

.formation .head_formation>div {
   display: grid;
   gap: 0.3125rem;
}

.formation .head_formation div .type {
   font-size: 1.125rem;
   border-radius: 1.25rem;
   background-color: var(--blue-principal);
   width: fit-content;
   height: fit-content;
   padding: 0.3125rem 0.5rem;
   font-family: var(--font-title-2);
}

.formation .head_formation>div>div {
   display: flex;
   align-items: baseline;
   gap: 0.625rem;
}

.formation .head_formation div h3 {
   color: var(--blue-principal);
   font-family: var(--font-title-2);
}

.formation .head_formation div .option {
   font-family: var(--font-title-2);
}

.formation .head_formation .description {
   padding-top: 1.25rem;
   font-family: var(--font-title-2);
   font-size: 0.875rem;
}

.formation .head_formation .obtention {
   border-radius: 1.125rem;
   background-color: var(--blue-principal);
   font-family: var(--font-title-2);
   width: fit-content;
   height: fit-content;
   padding: 0.3125rem 0.5rem;
   display: flex;
   align-items: center;
   gap: 0.3125rem;
   white-space: nowrap;
}

.formation .formation-context ul {
   display: grid;
   gap: 0.3125rem;
}

.formation .formation-context .etablissement , .formation .formation-context .lieu , .formation .formation-context .periode {
   display: flex;
   align-items: center;
   gap: 0.3125rem;
   font-family: var(--font-title-2);
}

.formation .formation-context .etablissement svg, .formation .formation-context .lieu svg, .formation .formation-context .periode svg  {
   color: var(--blue-principal);
}

.formation .competences {
   display: grid;
   gap: 1.25rem;
}

.formation .competences h4 {
   font-family: var(--font-title-2);
   font-weight: 400;   
}

.formation .competences hr {
   border: none;
   height: 0.125rem;
   background-color: var(--background-color-third);
   border-radius: 2.0625rem;
}

.formation .competences a {
   display: flex;
   align-items: center;
   gap: 0.3125rem;
   text-align: center;
   margin: 0 auto 1.25rem auto;
   max-width: fit-content;
}

.formation .competences ul {
   display: grid;
   grid-template-columns: auto auto;
   align-items: start;
   gap: 0.625rem;
}

.formation .competences ul li {
   list-style: none;
   display: flex;
   gap: 0.3125rem;
   align-items: center;
   font-family: var(--font-title-2);
   font-size: 0.9375rem;
}

.formation .competences ul li svg {
   color: green;
}
