#formations {
   background-color: var(--background-color-principal);
   scroll-margin-top: 6.25rem;
}

#formations>div {
   padding: 3.125rem 0 6.25rem 0;
   margin: auto;
}

#formations>div h2 {
   font-family: var(--font-title);
   color: var(--blue-principal);
   text-align: center;
   margin: auto;
   max-width: fit-content;
   padding-top: 1.25rem;
   padding-bottom: 2.5rem;
}