#head_index {
   scroll-margin-top: 6.25rem;
   background-color: var(--background-color-second);
   padding: 10rem 0 3.75rem 0;
   min-height: 31.25rem;
   display: grid;
}

#head_index>div {
   margin: auto;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

#head_index > div > div:nth-child(1) {
   min-height: 12.5rem;
   display: flex;
   flex-direction: column;
}

#head_index>div>div:nth-child(2) {
   display: flex;
   justify-content: center;
   gap: 1.875rem;
}

#head_index h1 {
   color: var(--blue-principal);
   font-family: var(--font-title);
}

.typing-text {
   display: inline-block;
   overflow: hidden; 
   white-space: nowrap;
   width: 0;
   margin: auto;
}

.typing-text.active {
   animation: typing 2.5s steps(36, end) forwards;
}

@keyframes typing {
   from { width: 0; }
   to { width: 100%; }
}

@keyframes typingReverse {
    from { width: 100%; }
    to { width: 0; }
}

#head_index h2 {
   color: var(--blue-second);
   font-family: var(--font-title);
}

#head_index p {
   color: var(--color-text-principal);
   font-family: var(--font-classic);
   padding-bottom: 3.125rem;
}
