header {
   background-color: var(--background-color-principal);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1;
}

header>div {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: auto;
   padding: 10px 10px 0px 10px;
}

header>div>div>a {
   display: flex;
   justify-content: center;
   align-items: center;
}

header>div>div a:hover {
   color: var(--blue-second);
}
 
header>div>p {
   font-family: var(--font-title);
   color: var(--color-text-principal);
}

.logo {
   max-width: 90px;
   padding-top: 8px;
}

header nav ul {
   display: flex;
   justify-content: end;
   gap: 20px;
   list-style: none;
   align-items: center;
}

header nav ul li a {
   padding: 35px 10px;
}

header nav ul li a:hover {
   border-bottom: 5px solid var(--blue-second);
}

header a {
   text-decoration: none;
   font-family: var(--font-title);
   color: var(--color-text-principal);
}

header nav ul a:hover {
   color: var(--blue-second);
}

header nav ul a.active {
   color: var(--blue-second);
   border-bottom: 5px solid var(--blue-second);
}

/* 
.burger-icon {
   display: none;
} */

@media (max-width: 767px) {

   #root > header > div > nav > ul {
      display: none;
   }

   .burger-icon span {
      display: block;
      background-color: var(--color-text-principal);
      width: 35px;
      height: 5px;
      margin: 6px 0;
      border-radius: 20px;
  }

}
   
