.projectCard {
   max-width: 28%;
   min-width: 28%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 30rem;
}

/* Début CSS projectCard loading */

.projectCard .loading, .projectCard .error-loading {
   margin: auto;
}

/* CSS pour le head de la carte */

.projectCard .head_project {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.projectCard .head_project h3 {
   color: var(--color-blue-primary);
}

.projectCard .head_project p {
   font-size: var(--font-size-sm);
}

/* CSS pour Languages */

.language_title {
   display: flex;
   gap: 0.25rem;
   align-items: center;
   color: var(--text-on-dark-bg);
   font-weight: 400;
}

.language_title svg {
   color: var(--color-blue-primary);
}

/* CSS pour les liens */
.projectCard .links_project {
   display: flex;
   gap: 1.875rem;
   align-items: center;
}

.projectCard .links_project a {
   display: flex;
   align-items: center;
   gap: 0.25rem;
   font-size: var(--font-size-sm);
}

/* CSS pour les dates */
.projectCard .dates_project {
   display: flex;
   justify-content: space-between;
}

.projectCard .dates_project>div {
   display: flex;
   align-items: center;
   gap: 0.25rem;
}

.projectCard .dates_project>div p {
   font-size: var(--font-size-xs);
}

.projectCard .dates_project svg {
   color: var(--color-blue-primary)
}

#modal-root .modal-project {
   min-width: 440px;
}

@media (max-width: 1090px) {

   #projects .projectCard .dates_project>div p:nth-child(2) {
      display: none;
   }
}

@media (max-width: 1024px) {

   #projects .projectCard {
      max-width: 28%;
   }

   #projects .projectCard .head_project h3 {
      font-size: var(--font-size-lg);
   }

   #projects .projectCard .links_project {
      flex-wrap: wrap;
      gap: 10px;
   }

   #projects .projectCard .links_project a {
      padding: 5px 10px;
      white-space: nowrap;
   }
}

@media (max-width: 950px) {

   #projects .projectCard {
      max-width: 90%;
      margin: auto;
      min-height: 25rem;
   }

   #projects .projectCard .links_project a {
      padding: 10px 15px;
   }

}

@media (max-width: 767px) {

   #modal-root .modal-project {
      min-width: 100%;
   }

   #projects .projectCard {
      min-height: 28rem;
   }

   #projects .projectCard .head_project {
      gap: 0.5rem;
   }
}



