.projectCard {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 0;
   margin: auto;
   min-height: 33.4375rem;
}

/* CSS pour le head de la carte */

.projectCard .head_project {
   display: grid;
   gap: 0.625rem;
   min-height: 10.625rem;
}

.projectCard .head_project h3 {
   font-family: var(--font-title-2);
   color: var(--blue-principal);
}

.projectCard .head_project p {
   font-family: var(--font-classic);
   color: var(--color-text-principal);
   font-size: 0.875rem;
}

/* CSS pour Languages */

.language_title p {
   font-family: var(--font-title-2);
   font-size: 1rem;
}

.language_title {
   display: flex;
   gap: 0.625rem;
   align-items: center;
}

.language_title svg {
   color: var(--blue-principal);
}

/* CSS pour les liens */
.projectCard .links_project {
   display: flex;
   gap: 1.875rem;
   align-items: center;
}

.projectCard .links_project a {
   display: flex;
   align-items: center;
   gap: 0.625rem;
}

/* CSS pour les dates */
.projectCard .dates_project {
   display: flex;
   justify-content: space-between;
}

.projectCard .dates_project>div {
   display: flex;
   align-items: center;
   gap: 0.3125rem;
}

.projectCard .dates_project>div>.date {
   font-size: 0.875rem;
   font-family: var(--font-classic);
   color: var(--color-text-principal);
}

.projectCard .dates_project>div>p:nth-child(2){
   font-family: var(--font-title-2);
   font-size: 0.875rem;
}

.projectCard .dates_project svg {
   color: var(--blue-principal);
}

.projectCard hr {
   border: none;
   height: 0.125rem;
   background-color: var(--background-color-third);
   border-radius: 2.0625rem;
}
