.projectCard {
   max-width: 380px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 25rem;
}

/* CSS pour le head de la carte */

.projectCard .head_project {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   min-height: 160px;
}

.projectCard .head_project h3 {
   color: var(--color-blue-primary);
}

.projectCard .head_project p {
   font-size: var(--font-size-sm);
}

/* CSS pour Languages */

.language_title {
   display: flex;
   gap: 0.25rem;
   align-items: center;
   color: var(--text-on-dark-bg);
   font-weight: 400;
}

.language_title svg {
   color: var(--color-blue-primary);
}

/* CSS pour les liens */
.projectCard .links_project {
   display: flex;
   gap: 1.875rem;
   align-items: center;
}

.projectCard .links_project a {
   display: flex;
   align-items: center;
   gap: 0.25rem;
   font-size: var(--font-size-sm);
}

/* CSS pour les dates */
.projectCard .dates_project {
   display: flex;
   justify-content: space-between;
}

.projectCard .dates_project>div {
   display: flex;
   align-items: center;
   gap: 0.25rem;
}

.projectCard .dates_project>div p {
   font-size: var(--font-size-xs);
}

.projectCard .dates_project svg {
   color: var(--color-blue-primary)
}
