#projects {
   background-color: var(--color-bg-primary);
   scroll-margin-top: 3.125rem;
}

#projects>div {
   margin: auto;
   padding: 3.75rem 0 3.75rem 0;
   display: grid;
   gap: 1.875rem;
}

#projects>div>div:nth-child(2) {
   display: flex;
   justify-content: space-around;
}

#projects > div > div:nth-child(3) {
   text-align: right;
}

