.project {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 20px;
}

.HTML_progress {
   background-color: #e34c26 ;
}

.HTML_before::before {
   content: "■";
   margin-right: 10px;
   color: #e34c26;
}

.JavaScript_progress {
   background-color: #f1e05a; 
}

.JavaScript_before::before {
   content: "■";
   margin-right: 10px;
   color: #f1e05a;
}

.CSS_before::before {
   content: "■";
   margin-right: 10px;
   color: #663399;
}

.CSS_progress {
   background-color: #663399 ;
}

.Progress {
   background-color: var(--bgColor-neutral-muted);
   border-radius: var(--borderRadius-medium);
   display: flex;
   height: 8px;
   outline: 1px solid #0000;
   overflow: hidden;
   margin: 20px 0px 20px 0px;
}

.project h3 {
   font-family: var(--font-title);
   color: var(--blue-principal);
   padding-bottom: 20px;
}

.title {
   font-family: var(--font-title);
}

.description {
   min-height: 300px;
}

.description>p:nth-child(3) {
   padding-top: 10px;
   font-family: var(--font-classic);
}

.percent {
   font-family: var(--font-title);
}

.dates {
   font-family: var(--font-title);
}

.links {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 25px;
}