#projects {
   background-color: var(--background-color-principal);
   scroll-margin-top: 100px; /* Permet de compenser le header en position fixed via lien ancrage*/
}

#projects>div {
   margin: auto;
   padding: 60px 0px 60px 0px;
}

#projects h2 {
      font-family: var(--font-title);
      color: var(--blue-principal);
      text-align: center;
      margin: auto;
      max-width: fit-content;
      padding: 0px 0px 40px 0px;
}

#projects>div>div:nth-child(2) {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   padding: 0px 50px;
   gap: 70px;
}

#projects > div > div:nth-child(3) {
   text-align: right;
   padding-top: 50px;
}


@media screen and (max-width:1024px){

   #projects>div>div:nth-child(2) {
      grid-template-columns: 1fr;
   }

}
