.project {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 0px;
   margin: auto;
   min-height: 535px
}

/* CSS pour le head de la carte */

.head_project {
   display: grid;
   gap: 10px;
   min-height: 170px;
}

.head_project h3 {
   font-family: var(--font-title-2);
   color: var(--blue-principal);
}

.head_project p {
   font-family: var(--font-classic);
   color: var(--color-text-principal);
   font-size: 14px;
}



/* CSS pour Languages */

.language_title p {
   font-family: var(--font-title-2);
   font-size: 16px;
}

.HTML_progress {
   background-color: #e34c26 ;
}

.HTML_before::before {
   content: "●";
   margin-right: 5px;
   color: #e34c26;
}

.JavaScript_progress {
   background-color: #f1e05a; 
}

.JavaScript_before::before {
   content: "●";
   margin-right: 5px;
   color: #f1e05a;
}

.CSS_before::before {
   content: "●";
   margin-right: 5px;
   color: #663399;
}

.CSS_progress {
   background-color: #663399 ;
}

.Progress {
   background-color: var(--bgColor-neutral-muted);
   border-radius: var(--borderRadius-medium);
   display: flex;
   height: 8px;
   outline: 1px solid #0000;
   overflow: hidden;
   margin: 20px 0px 20px 0px;
}

.language_title {
   display: flex;
   gap: 10px;
   align-items: center;
}

.languages ul {
   display: flex;
   gap: 5px;
}

.languages ul li {
   border-radius: 22px;
   padding: 4px 8px;
   background-color: var(--background-color-principal) ;
   font-size: 14px;
   font-family: var(--font-classic);
}

.languages ul li .percent {
   color: var(--color-text-principal);
}

/* CSS pour les liens */
.links_project {
   display: flex;
   gap: 30px;
   align-items: center;
}

.links_project a {
   display: flex;
   align-items: center;
   gap: 10px;
}

/* CSS pour les dates */
.dates_project {
   display: flex;
   justify-content: space-between;
}

.dates_project>div {
   display: flex;
   align-items: center;
   gap: 5px;
}

.dates_project>div>.date {
   font-size: 14px;
   font-family: var(--font-classic);
   color: var(--color-text-principal);
}

.dates_project>div>p:nth-child(2){
   font-family: var(--font-title-2);
   font-size: 14px;
}

.project hr {
   border: none;
   height: 2px; 
   background-color: var(--background-color-third);
   border-radius: 33px;
}

@media (max-width : 1024px) {
   .project{
      max-width: 80%;
   }
}


@media (max-width: 767px) {


   #projects > div > div > article {
      max-width: 70%;
   }

   .dates_project {
      display: grid;
   }

   .languages > ul {
      display: grid;
      max-width: fit-content;
   }

   .links_project {
      display: grid;
      max-width: fit-content;
      gap: 5px;
   }

   #projects > div > div:nth-child(3) {
      text-align: center!important;
   }

 }
