#skills {
   background-color: var(--background-color-second);
   display: grid;
   padding: 40px 0px 60px 0px;
}

#skills>div {
   display: flex;
   gap: 100px;
   margin: auto;
   max-width: fit-content;
}

#skills h2 {
   text-align: center;
   font-family: var(--font-title);
   color: var(--blue-principal);
   padding-top: 20px;
   padding-bottom: 40px;
   margin: auto;
}
