#skills {
   background-color: var(--color-bg-secondary);
   scroll-margin-top: 6.25rem;
   display: grid;
}

#skills>div {
   display: grid;
   gap: 1.875rem;;
   margin: auto;
   padding: 3.75rem 0 3.75rem 0;
}


#skills>div>div {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 3rem;
}

@media (max-width: 767px) {

   #skills > div > div {
      gap: 1rem;
   }

}

@media (max-width: 600px) {

   #skills > div > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

}