.skill {
   max-width: fit-content;
}

.skill h3 {
   display: flex;
   align-items: center;
   gap: 10px;
   font-family: var(--font-title);
   color: var(--blue-principal);
}

.skill ul {
   padding-top: 10px;
   display: grid;
}

.skill li {
   padding: 10px 0px 0px 20px;
   list-style: none;
   font-family: var(--font-classic);
   color: var(--color-text-principal);
}

.skill li::before {
   content: "■"; /* Petit carré */
   margin-right: 10px;
   color: var(--blue-principal);
}
