#skills {
   background-color: var(--color-bg-secondary);
   scroll-margin-top: 50px;
   display: grid;
}

#skills>div {
   display: flex;
   flex-direction: column;
   justify-content: start;
   gap: 1.875rem;;
   margin: auto;
   padding: 3.75rem 0 3.75rem 0;
   min-height: 500px;
}


#skills .skill-items {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 3rem;
}

#skills .loading {
   margin: auto;
}

#skills .error  {
   margin: auto;
}

@media (max-width: 767px) {

   #skills > div > div {
      gap: 1rem;
   }

}

@media (max-width: 600px) {

   #skills .skill-items {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

}