.skill {
   display: flex;
   flex-direction: column;
   justify-content: start;
   gap: 1rem;
}

.skill h3 {
   display: flex;
   align-items: center;
   gap: 0.625rem;
   font-size: var(--font-size-2xl);
   white-space: nowrap;
}

.skill ul {
   padding-left: 0.75rem;
   display: grid;
   gap: 0.25rem;
}

.skill ul li {
   color: var(--color-text);
   font-size: var(--font-size-base);
   white-space: nowrap;
}

.skill li::before {
   content: "■";
   margin-right: 0.625rem;
   color: var(--color-blue-primary);
}

@media (max-width: 767px) {

   .skill h2 {
      text-align: left;
   }

   .skill h3 {
      font-size: var(--font-size-lg);
   }

   .skill ul li {
      font-size: var(--font-size-sm);
   }

}



