/* Début CSS experience */
.experience {
   min-height: 650px;
   margin: auto;
   display: flex;
   gap: 1.5rem;
   flex-direction: column;
   justify-content: space-between;
}

/* Début CSS head experience */
.experience .head_experience {
   display: grid;
   gap: 0.5rem;
   min-height: 125px;
}

.experience .head_experience .type {
   background-color: var(--color-blue-primary);
   width: fit-content;
}

.experience .head_experience h3 {
   color: var(--color-blue-primary);
}

.experience .head_experience .description {
   padding-top: 1.25rem;
   max-width: 90%;
}

/* Début CSS experience_context */
.experience .experience_context ul {
   display: grid;
   gap: 0.3125rem;
   color: var(--color-text);
   font-size: var(--font-size-sm);
}

.experience .experience_context .company , .experience .experience_context .place , .experience .experience_context .date {
   display: flex;
   align-items: center;
   gap: 0.25rem;
}

.experience .experience_context .company svg , .experience .experience_context .place svg , .experience .experience_context .date svg {
   color: var(--color-blue-primary);
}

/* Début CSS responsibilities */
.experience .responsibilities {
   display: grid;
   gap: 1rem;
}

.experience .responsibilities h4 {
   color: var(--color-blue-primary);
}

.experience .responsibilities ul {
   display: grid;
   gap: 0.25rem;
}

.experience .responsibilities ul li {
   display: flex;
   gap: 0.25rem;
   align-items: center;
   color: var(--color-text);
   font-size: var(--font-size-sm)
}

.experience .responsibilities ul li svg {
   color: var(--color-success);
   max-width: 20px;
   min-width: 20px
}


/* Début CSS technologies */

.experience .technologies {
   display: grid;
   gap: 1.25rem;
}

.experience .technologies h4 {
   color: var(--color-blue-primary);
}

.experience .technologies ul {
   display: flex;
   flex-wrap: wrap;
   gap: 0.625rem;
}

.experience .technologies ul li {
   font-size: var(--font-size-base);
   font-family: var(--font-primary);
   background-color: var(--color-blue-primary);
}

@media (max-width: 1024px) {

   .experience > div.head_experience > h3 {
      font-size: var(--font-size-lg);
   }

}

@media (max-width: 767px) {

   .experience .responsibilities ul li {
      align-items: start;
   }

}