@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Code:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
   scroll-behavior: smooth;
   margin: 0;
   /* background-color: var(--background-color-principal); */
}

ul {
   padding: 0;
}

h1 {
   font-size: 48px;
}

h2 {
   font-size: 40px;
}

h3 {
   font-size: 24px;
}

:root {

   --font-title : 'Bebas Neue';
   --font-title-2 : 'Raleway';
   --font-classic : 'Fira Code';

   --background-color-principal : #1E1E1E;
   --background-color-second : #252526 ;
   --background-color-third : #5A5A5C ; 
   --color-text-principal : #D4D4D4;
   --color-white : #FFFF ; 
   --blue-principal : #007ACC;
   --blue-second : #569CD6;

   --borderRadius-medium: 0.375rem;
   --bgColor-neutral-muted: #656c7633;
}

.uppercase {
   text-transform: uppercase;
}

.capitalize {
   text-transform: capitalize;
}

.list-style-none {
   list-style: none;
}

.contain-1440 {
   max-width: 1440px;
}

.button-blue {
   text-decoration: none;
   color: var(--color-white);
   font-family: var(--font-title);
   border-radius: 10px;
   background-color: var(--blue-principal);
   padding: 10px 15px;
   display: inline-block;
   margin-top: 20px;
   text-align: center;
}

.button-blue:hover {
   background-color: var(--blue-second );
}

.card-principal {
   background: var(--background-color-principal);
   color: #ffffff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
   position: relative;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card {
   background: var(--background-color-second);
   color: #ffffff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
   position: relative;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* CSS pour les hr */

hr {
   border: none;
   height: 2px; 
   background-color: var(--background-color-third);
   border-radius: 33px;
}
