* {
   scroll-behavior: smooth;
   margin: 0;
}

ul {
   padding: 0;
}

ul li {
   font-family: var(--font-primary);
   list-style: none;
}

p {
   color: var(--color-text);
   font-size: var(--font-size-sm);
   font-family: var(--font-primary);
}

h1 {
   font-size: var(--font-size-4xl);
}

h2 {
   font-size: var(--font-size-3xl);
}

h3 {
   font-size: var(--font-size-xl);
   font-family: var(--font-primary);
}

h4 {
   font-size: var(--font-size-base);
   font-family: var(--font-primary);
}

:root {

   --font-title : 'Bebas Neue';      /* Pour les titres de sections   */
   --font-primary: 'Raleway';        /* Pour tout le reste : h2, h3, paragraphes, etc. */
   --font-code: 'Fira Code';         /* Pour les blocs de code ou éléments techniques */
   --font-numeric:'Inter';         /* Pour les nombres */

   --font-size-xxs: 0.6rem;   /* 10px */
   --font-size-xs: 0.75rem;   /* 12px */
   --font-size-sm: 0.875rem;  /* 14px */
   --font-size-base: 1rem;    /* 16px */
   --font-size-md: 1.125rem;  /* 18px */
   --font-size-lg: 1.25rem;   /* 20px */
   --font-size-xl: 1.5rem;    /* 24px */
   --font-size-2xl: 2rem;     /* 32px */
   --font-size-3xl: 2.5rem;   /* 40px */
   --font-size-4xl: 3rem;     /* 48px */

   --color-blue-primary   : #007ACC;
   --color-blue-secondary : #569CD6;
   --color-blue-tertiary: #0066B8;
   --color-white : #FFFF ; 
   --color-black:#000000;
   --color-error: #E06C75;   /* Rouge doux mais bien visible */
   --color-success: #4CAF50; /* Vert plus vif et dynamique */
}

:root[data-theme="dark"] {
   --color-bg-primary   : #1E1E1E;
   --color-bg-secondary : #252526;
   --color-bg-tertiary  : #5A5A5C;
   --color-bg-fourth : #000 ; 
   --color-text : #FFFF;
}

:root[data-theme="light"] {
  --color-bg-primary   : #F3F3F3;
  --color-bg-secondary : #E8E8E8;
  --color-bg-tertiary  : #CCCCCC;
  --color-bg-fourth : #CCCCCC;
  --color-text: #000; /* Texte pour fond sombre */
}

.uppercase {
   text-transform: uppercase;
}

.capitalize {
   text-transform: capitalize;
}

.list-style-none {
   list-style: none;
}

.contain-1440 {
   max-width: 1440px;
}

.title-section {
   font-size: var(--font-size-3xl);
   font-family: var(--font-title);
   color: var(--color-blue-primary);
   text-align: center;
}

.badge {
   background-color: var(--color-blue-primary);
   display: flex;
   align-items: center;
   border-radius: 1.375rem;
   padding: 0.25rem 0.5rem;
   max-width: fit-content;
   color: var(--color-white);
}

.button-blue {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: none;
    background-color: var(--color-blue-primary);
    color: var(--color-white);
    font-family: var(--font-title);
    border-radius: 10px;
    padding: 10px 15px;
    border: none !important;
}

.button-blue:hover {
   background-color: var(--color-blue-secondary);
}

.card-principal {
   background-color: var(--color-bg-primary);
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
   position: relative;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-secondary {
   background-color: var(--color-bg-secondary);
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
   position: relative;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.numeric {
   font-family: var(--font-numeric);
   font-weight: 300;
}

.hr-grey {
   border: none;
   height: 0.125rem;
   background-color: var(--color-bg-tertiary);
   border-radius: 2.0625rem;
}

.overflow-hidden {
   overflow: hidden;
}


@media (max-width: 767px) {

   .title-section {
      font-size: var(--font-size-2xl);
   }

}
